@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-color: #091413;
  --text-color: #B0E4CC; 
  --primary-color: #408A71;   /* accent */
  --secondary-color: #285A48;
  --primary-hover: #2f6f5a; /* slightly darker shade for hover */
}
/* globals.css */
/* 
*{
  cursor: none !important;
} */







