@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-color: #f8fafc;
  --text-color: #1e0f35; 
  --primary-color: #6366f1;   /* accent */
  --secondary-color: #c0cafc80;
  --primary-hover: #4f46e5;
}
/* globals.css */

*{
  cursor: none !important;
}